
.contactForm {
	margin: 24px 10% 24px 10%;
}

.contactForm > .form-group > input,
.contactForm > .form-group > textarea {
	border            : 4px solid #ffffff;
	padding           : 24px;
	-moz-box-shadow   : inset 0 -10px 10px -10px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.1);
	box-shadow        : inset 0 -10px 10px -10px rgba(0,0,0,0.1);
	border-radius     : 8px;
	font-size         : 18px;
}

.contactForm > .form-group > input:focus, 
.contactForm > .form-group > textarea:focus {
	border: 4px solid #1d9d73 !important;
}

.contactForm > .form-group > button { 
	background-color: transparent; 
	border-radius   : 3px;
	border          : 1px solid #dbdbdb;
	color           : #094db7;
	outline         : none;
	min-width       : 100px;
	text-align      : left;
	margin-right    : 12px;
	width           : 100%;
	padding         : 16px;
} 
 
.contactForm > .form-group > button:hover, 
.contactForm > .form-group > button:focus, 
.contactForm > .form-group > button:active, 
.contactForm > .form-group > button.active { 
	color           : #ffffff; 
	background-color: #094db7; 
	border-color    : #094db7; 
	outline         : none;
}

.contactForm > .alert {
	border-color: #094db7; 
	text-align  : center;
	font-size   : 18px;
}


.tooltip-inner {
	padding         : 12px;
	background-color: #021025;
	font-weight     : normal;
	font-family     : "Helvetica Neue", Helvetica, Arial, sans-serif;
}