.App {
  text-align: center;
  
}

.App h2 { color: #FF8719; border-top: 1px #FFD7A8 solid; border-bottom: 1px #FFD7A8 solid; line-height: 200% }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

a { text-decoration: none }

body span.ital { font-style: italic; font-family: serif !important; font-size: 110% }
.App span.orangish { color: orange}

h1, h2, .App-header, p { max-width: 90% }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  /* font-size: large */ 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
