.App {
  text-align: center; 
  
}

.mainstreet { padding: 0 10% 0 10%; }

.App h2 { color: #FF8719; border-top: 1px #FFD7A8 solid; border-bottom: 1px #FFD7A8 solid; line-height: 200%; margin-top: 1em; margin-bottom: 1em }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

a { text-decoration: none; color: #53C2CC  } a:hover { color: orange }

body span.ital { font-style: italic; font-family: serif !important; font-size: 110% }
.App span.orangish { color: orange}

/* h1, h2, header img, p { max-width: 90% } */

.App-header {
  /*background: #222 url("https://iu.box.com/shared/static/9n7nvfk7q4ivnrx6dfot5uoi1m5f3qjy.jpg") no-repeat center; */
  background: #222 url("https://iu.box.com/shared/static/yafch40tupawixyqahrdl4d327f6qzek.jpg") no-repeat center;
  height: /*150px*/ 33%;
  padding: 20px;
  color: white;
  margin-bottom: 2em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  /* font-size: large */ 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
